@charset "UTF-8";

body{
    background-color: gray;

}
header{
    margin: auto;
    text-align: center;
    color: white;
    

}
section{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    height: 350px;
    width: 500px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);

}
div{
    text-align: center;
    padding: 8px;
}
footer{
    color: white;
    text-align: center;

}